body{
    direction: rtl;
}

.container{
    display: flex;
    background-color: #D9CBC6;
    padding:1em ;
    height: 350px;
    width: 1200px;
    margin: 0 auto;
    border-radius: 36px 36px ;
}

.contact-me input, textarea{
    display: flex;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin: 9px;
    right: 70px;
    width: 400px;
    height: 5px;
    top: 30px;
}

textarea{
    height: 100px;
}

button{
    background: #7A7170;
    border: none;
    width: 60px;
    height: 30px;
    margin: 10px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    right: 410px;
    top: 30px;
}

h2{
    display: flex;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    top: 30px;
    right: 150px;
}

.social-media-contact{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 150px;
    right: 350px;
    height: 2px;
}

a{
    font-size: 11px;
}
.contact-me-details{
    right: -300px;
    position: relative;
    bottom: 60px;
}

.contact-me-details .whatsapp-icon{
    position: relative;
    bottom: 20px;
    right: 180px;
}

.contact-me-details .email-icon{
    position: relative;
    bottom: 20px;
    right: 180px;
}

@media screen and (max-width: 500px) {
    .container{
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        background-color: #D9CBC6;
        margin: 0 auto;
        padding:1em ;
        height: 600px;
        width: 350px;
        border-radius: 36px 36px ;
    }

    h2{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        top: -200px;
        right: 0;
    }
    .contact-me input, textarea{
        border-radius: 10px;
        display: flex;
        align-content: end;
        padding: 15px;
        margin: 9px;
        right: 0;
        width: 300px;
        height: 5px;
        top: 0;
    }

    textarea{
        height: 100px;
    }

    button{
        background: #7A7170;
        border: none;
        width: 300px;
        height: 30px;
        margin: 10px;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        right:0;
        top: 15px;
    }

    .social-media-contact{
        display: flex;
        flex-direction: row;
        top: 200px;
        right: 350px;
        height: 2px;
    }

    a{
        font-size: 11px;
        font-weight: bold;
    }
    .contact-me-details{
        right: -300px;
        bottom: 280px;
    }

    .contact-me-details .whatsapp-icon{
        bottom: 20px;
        right: 180px;
    }

    .contact-me-details .email-icon{
        bottom: 20px;
        right: 180px;
    }
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    .container{
        overflow-x: hidden;
        display: flex;
        flex-direction: column-reverse;
        background-color: #D9CBC6;
        margin: 0 auto;
        padding:1em ;
        height: 600px;
        width: 800px;
        border-radius: 36px 36px ;
    }

    h2{
        display: flex;
        justify-content: start;
        font-size: 30px;
        font-weight: bold;
        top: -200px;
        right: 0;
    }

    .contact-me input, textarea{
        border-radius: 10px;
        display: flex;
        justify-items: center;
        padding: 15px;
        margin: 9px;
        width: 600px;
        height: 5px;
        top: 0;
    }

    textarea{
        height: 100px;
    }

    button{
        background: #7A7170;
        display: flex;
        text-align: center;
        justify-content: center;
        border: none;
        width: 600px;
        height: 30px;
        margin: 10px;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        right:65px;
        top: 15px;
    }

    .social-media-contact{
        display: flex;
        flex-direction: row;
        top: 200px;
        right: 350px;
        height: 2px;
    }

    a{
        font-size: 20px;
        font-weight: bold;
    }
    .contact-me-details{
        right: -300px;
        bottom: 280px;
    }

    .contact-me-details .whatsapp-icon{
        bottom: 25px;
        right: 340px;
    }

    .contact-me-details .email-icon{
        bottom: 25px;
        right: 340px;
    }
}